body {
    margin: 0;
    padding: 0;
    background-image: url('images/자기소개.jpg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.self-introduce {
    width: 150px;
    height: 50px;
    margin: 40px;
    padding: 20px;  
    text-align: center;
    color: #fff; 
    border-radius: 50%;
    border: 5px double black;
    position: absolute;
    right: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    width: 150px;
    height: 50px;
    margin: 40px;
    padding: 20px;  
    text-align: center;
    color: #fff; 
    border-radius: 50%;
    border: 5px double black;
    position: absolute;
    left: 150px;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan {
    width: 150px;
    height: 50px;
    margin: 40px;
    padding: 20px;  
    text-align: center;
    color: #fff; 
    border-radius: 50%;
    border: 5px double black;
    position: absolute;
    right: 320px;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    font-size: 3em; 
    text-shadow:  
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}

/*
footer{
    color: black;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
*/

footer.second {
    color: black;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

footer.image-source {
    color: black;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

footer.image-source a{
    color: purple;
}

h2{
    font-size: 2em;
    color: black;
}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}